@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&display=swap');

/* Flag on the top */
.flag {
    height: 2vh;
    background-color: rgb(255, 255, 255);
}

.flagred {
    float: right;
    height: 2vh;
    width: 33%;
    background-color: red;
}

.flaggreen {
    height: 2vh;
    width: 33%;
    background-color: green;
}


/* Navbar */

.navbar {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    text-align: right;
    height: 13vh;
    line-height: 70px;
    background-color: black;
}

.navbar img {
    float: left;
    padding-top: 20px;
    padding-left: 20px;
}

.menu {
    margin: 0 30px 0 0;
}

.menu a {
    clear: right;
    font-family: 'Aleo', serif;
    text-decoration: none;
    color: rgb(228, 220, 220);
    margin: 0px 20px;
    font-size: 23px;
    transition: .2s;
}

.menu a:hover {
    color: white;
}

a.order {
    color: rgba(255, 0, 0, 0.863);
    font-weight: 900;
    transition: .2s;
}

a.order:hover {
    color: red;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}


/* Footer */

.footnote {
    background-color: black;
    clear: both;
    height: 25vh;
    text-align: left;
    padding-left: 150px;
    font-size: 15px;
    line-height: 30px;
    color: white;
    list-style: none;
}

.social_media {
    font-size: 30px;
    padding-top: 40px;
    letter-spacing: 10px;
}

.footnote i {
    color: rgb(160, 155, 155);
    transition: 0.3s;
}

.footnote i:hover {
    color: white;
}

.fone a {
    text-decoration: none;
    color: rgb(228, 220, 220);
}

.fone a:hover {
    color: red
}

.rights {
    font-size: 12px;
}


@media only screen and (max-width: 500px) {
    .flag {
        width: 100vh;
    }

    .navbar {
        width: 100vh;
    }

    label {
        display: block;
        cursor: pointer;
        color: white;
        font-size: 40px;
        padding-right: 80px;
    }

    .menu {
        text-align: center;
        width: 100%;
    }

    .menu a {
        display: block;
        border-bottom: 1px solid #b4b4b4;
        margin: 0;
        font-family: 'Aleo', serif;
        font-size: 30px;
        font-weight: 900;
        color: rgb(255, 0, 0);
        background-color: rgba(0, 0, 0, 0.747);
    }

    #toggle:checked + .menu {
        display: block;
    }
}