@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Aleo', serif;
}

header {
    position: fixed;
    width: 100%;
}


/* Content and presentation */

.front_store {
    height: 100vh;
    background-image: url("../img/fachada.png");
    background-size: cover;
    background-position: center;
}

.menu_rest {
    display: flex;
    margin: auto;
    height: 140vh;
    justify-content: center;
}

.menu_content {
    max-width: 930px;
    display: inline-block;
    align-items: center;
    justify-content: center;
}

.menu_rest h1 {
    width: 928px;
    margin-top: 120px;
    justify-content: center;
    font-size: 3rem;
    color: rgb(138, 138, 138);
}

.pizza_img {
    display: flex;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    margin-top: 70px;
    margin-left: 160px;
    width: 600px;
}

.menu_content p {
    width: 900px;
    height: 120px;
    text-align: justify;
    margin-top: 40px;
    margin-left: 124px;
    color: grey;
    font-size: 18px;
    letter-spacing: 1px;
}

.pizza_img img {
    width: 600px;
}

.pizza_content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    width: 800px;
}


/* Menu description */

.menu_description {
    display: flex;
    border-bottom: 2px solid rgb(214, 214, 214);
    height: 90vh;
}

.txt_sd_pizza {
    height: 90vh;
    display: inline-block;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.recipe {
    display: flex;
    align-items: center;
    margin: 200px 60px 20px;
    color: grey;
    font-size: 18px;
    letter-spacing: 1px;
    text-align: justify;
    
}

.button_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin: 0 60px;
}

button {
    background: rgb(63, 63, 63);
    color: white;
    width: 140px;
    height: 40px;
    font-size: 25px;
    font-family: 'Aleo', serif;
    font-weight: bolder;
    padding: 4px;
    border-color: rgb(138, 138, 138);
    border-radius: 5px;
}

button:hover {
    background: white;
    color: rgb(63, 63, 63);
    cursor: pointer;
}


/* Carousel Div About */

.about {
    display: flex;
    align-items: center;
    min-height: 60vh;
}

.wrapper {
    width: 100%;
}

.wrapper .carousel {
    max-width: 1200px;
    margin: auto;
    padding: 0 30px;
}

.carousel .card {
    line-height: 250px;
    text-align: center;
    color: #fff;
    font-size: 90px;
    font-weight: 600;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.carousel .card-1 {
    background-image: url("../img/pexels-ponyo-sakana-5088717.png");
    background-size: cover;
    background-position: center;
    color: green;
    opacity: .5;
    transition: all 0.3s ease;
}

.carousel .card-1:hover {
    opacity: 1;
    color: rgba(255, 255, 255, 0);
}

.carousel .card-2 {
    background-image: url("../img/restaurant-hall-with-red-br.png");
    background-size: cover;
    background-position: center;
    opacity: .5;
    transition: all 0.3s ease;
}

.carousel .card-2:hover {
    opacity: 1;
    color: rgba(255, 255, 255, 0);
}

.carousel .card-3 {
    
    background-image: url("../img/pexels-ponyo-sakana-5088754.png");
    background-size: cover;
    background-position: center;
    color: red;
    opacity: .5;
    transition: all 0.3s ease;
}

.carousel .card-3:hover {
    opacity: 1;
    color: rgba(255, 255, 255, 0);
}

.carousel .card-4 {
    background-image: url("../img/pexels-ponyo-sakana-5108608.png");
    background-size: cover;
    background-position: center;
    color: green;
    opacity: .5;
    transition: all 0.3s ease;
}

.carousel .card-4:hover {
    opacity: 1;
    color: rgba(255, 255, 255, 0);
}

.carousel .card-5 {
    background-image: url("../img/man-sitting-with-glass-of-w.png");
    background-size: cover;
    background-position: center;
    opacity: .5;
    transition: all 0.3s ease;
}

.carousel .card-5:hover {
    opacity: 1;
    color: rgba(255, 255, 255, 0);
}

.carousel .card-6 {
    background-image: url("../img/baking_pizza.png");
    background-size: cover;
    background-position: center;
    color: red;
    opacity: .5;
    transition: all 0.3s ease;
}

.carousel .card-6:hover {
    opacity: 1;
    color: rgba(255, 255, 255, 0);
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 15px;
    width: 15px;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
    margin: 0 5px;
    border: 2px solid #0072bc!important;
    transition: all 0.3s ease;
}

.owl-dot:hover,
.owl-dot:active {
    background: #0072bc!important;
}

@media only screen and (max-width: 600px) {
    .front_store {
        height: 100vh;
        width: 100vh;
        background-size: cover;
        background-position: center;
    }

    .menu_description {
        width: 100vh;
    }
    
    .menu_rest h1 {
        width: 500px;
        margin-top: 60px;
        margin-left: 260px;
        font-size: 1.6rem;
    }

    .pizza_img {
        display: flex;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        margin-top: 70px;
        margin-left: 200px;
        width: 300px;
    }

    .menu_content p {
        width: 500px;
        height: 120px;
        text-align: justify;
        margin-top: 40px;
        margin-left: 200px;
        color: grey;
        font-size: 18px;
        letter-spacing: 0;
    }
    
    .side_pizza {
        display: none;
    }

    .txt_sd_pizza {
        width: 570px;
    }

    .about {
        width: 100vh;
    }
    .wrapper {
        padding-right: 60px;
    }

    .footnote {
        width: 100vh;
        padding-left: 50px;
    }
}