* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html, article {
    color: white;
    font-family: 'lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body {
    background-image: url(../img/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
/* profile column*/
.center .avatar img {
    border-radius: 50%;
    width: 110px;
    margin-top: 5%;
    object-fit: cover;
}

.center {
    width: 20%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 75vh;
    text-align: center;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10%;
}

.content {
    padding: 30px;
}

h1 {
    color: wheat;
    font-size: 20px;
}

.content h2, p {
    font-weight: lighter;
    letter-spacing: 1px;
    width: 70%;
    margin: 10px auto;
}

.content h2 {
    font-weight: 400;
    font-size: 18px;
}

.content p {
    font-size: 12px;
}

.content h3 {
    margin-top: 15px;
    font-size: 15px;
}

.profi {
    height: 20vh;
}

div.social i {
    padding: 0 10px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
    transition: 0.4s;
}

div.social i:hover {
    color: rgba(255, 255, 255, 1);
}

/* Aside box repository*/
.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 60%;
    margin-right: 10%;
    background-color: rgba(0, 0, 0, 0.897);
    height: 75vh;
    border-radius: 5px;
    
}

.block {
    float: left;
    margin: 20px 30px;
    text-align: center;
    width: 300px;
}

.block i {
    font-size: 50px;
    text-align: left;
}

.block p {
    margin-top: 25px;
}

.fa-git-alt {
    color: #F05133;
}

.fa-html5 {
    color: #FA502E;
}

.fa-css3-alt {
    color: #2196F3;
}

.fa-js-square {
    color: #FFCA28;
}

.fa-bootstrap {
    color: #7611F7;
}

.fa-sass {
    color: #CC6699;
    float: left;
}

.block img {
    display: flex;
    border-radius: 5px;
    width: 180px;
    margin-top: 5%;
    align-items: center;
}

.back a {
    text-decoration: none;
    float: right;
    font-size: 20px;
    margin-top: 25vh;
    color: rgba(255, 255, 255, 0.6);
    transition: 0.4s;
}

.back i:hover {
    color: rgba(255, 255, 255, 1);
}

@media (max-width: 860px) {
    .center {
        display: none;
    }

    .aside {
        min-width: 280px;
        width: 90%;
        height: 85vh;
        margin-top: 40px;
        margin-right: 0px;
        margin-left: 0px;
    }

    .content h3 {
        margin-top: 2px;
    }

    .title h3 {
        font-size: 1.2rem;
    }

    .block {
        margin: 10px;
    }

    .block p {
        font-size: 0.6rem;
        margin-top: 10px;
        color: chocolate;
        font-weight: 100;
        float: center;
        text-align: justify;
    }

    .fa-github, .fa-figma {
        color: white;
    }

    .block p i {
        font-size: 25px;
        letter-spacing: 15px;
    }

    .back a {
        font-size: 25px;
        margin-top: 1rem;
        
    }
}