* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html, article {
    color: white;
    font-family: 'lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body {
    background-image: url(../img/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
/* profile column*/
.center .avatar img {
    border-radius: 50%;
    width: 110px;
    margin-top: 5%;
    object-fit: cover;
}

.center {
    width: 20%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 75vh;
    text-align: center;
    border-radius: 5px;
    margin-right: 10px;
    margin-left: 10%;
}

.content {
    padding: 30px;
}

h1 {
    color: wheat;
    font-size: 20px;
}

.content h2, p {
    font-weight: lighter;
    letter-spacing: 1px;
    width: 70%;
    margin: 10px auto;
}

.content h2 {
    font-weight: 400;
    font-size: 18px;
}

.content p {
    font-size: 12px;
}

.content h3 {
    margin-top: 15px;
    font-size: 15px;
}

.profi {
    height: 20vh;
}

div.social i {
    padding: 0 10px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
    transition: 0.4s;
}

div.social i:hover {
    color: rgba(255, 255, 255, 1);
}

/* Aside box repository*/
.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 60%;
    margin-right: 10%;
    background-color: rgba(0, 0, 0, 0.897);
    height: 75vh;
    border-radius: 5px;
    
}

.block {
    float: left;
    margin: 20px 30px;
    text-align: center;
    width: 300px;
}

.block img {
    display: flex;
    border-radius: 5px;
    width: 180px;
    margin-top: 5%;
    align-items: center;
}