* {
    margin: 0;
    padding: 0;
}

body, html, article {
    color: white;
    font-family: 'lato', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body {
    background-image: url(../img/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.center .avatar img {
    border-radius: 50%;
    width: 140px;
    margin-top: 5%;
    object-fit: cover;
}

.center {
    min-width: 400px;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    height: 75vh;
    text-align: center;
    border-radius: 5px;
}

.fa-html5 {
    color: #FA502E;
}

.fa-css3-alt {
    color: #2196F3;
}

.fa-js-square {
    color: #FFCA28;
}

.fa-bootstrap {
    color: #7611F7;
}

.fa-sass {
    color: #CC6699;
}

.content {
    padding: 30px;
}

h1 {
    color: wheat;
}

.content h2, p {
    font-weight: lighter;
    font-size: 30px;
    letter-spacing: 1px;
    width: 70%;
    margin: 10px auto;
}

.content h2 {
    font-weight: 400;
}

.content h3 {
    margin-top: 20px;
}

div.social i {
    padding: 0 10px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.6);
    transition: 0.4s;
}

div.social i:hover {
    color: rgba(255, 255, 255, 1);
}

@media (max-width: 650px) {
    .center {
        min-width: 350px;
        width: 90%;
        margin: 50px 10px 10px 10px;
        height: 85vh;  
    }

    .content h2, p {
        font-size: 28px;
    }
}

