@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* Configurações de Menu*/

.nav {
    text-align: left;
    height: 70px;
    line-height: 70px;
    position: relative;
    z-index: 10;
}

.menu {
    margin: 0 30px 0 0;
}

.menu a {
    clear: right;
    text-decoration: none;
    color: #16a082;
    margin: 0 11px;
    line-height: 70px;
    font-size: 20px;
}

.menu a:hover {
    color: gray;
}

label {
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}



/* Configurações de conteúdo */

/* Praias setup top */
.top_beach {
    width: 100%;
    min-height: 80vh;
    background-image: url('../img/beach1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
    color: white;
    
}
/*
.top_beach h1 {
    align-items: center;
    vertical-align: middle;
    text-align: center;
    font-size: 150px;
    padding-top: 25vh;
    font-family: 'Caveat', cursive;
}
*/


/* Bares setup top */
.top_bars {
    width: 100%;
    min-height: 80vh;
    background-image: url('../img/bars.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
    color: white;
}

/* Restaurants setup top */
.top_restaurants {
    width: 100%;
    min-height: 80vh;
    background-image: url('../img/restaurants2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
    color: rgb(236, 253, 2);
}

/* Stores setup top */
.top_stores {
    width: 100%;
    min-height: 80vh;
    background-image: url('../img/stores.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
    color: #338dca;
}

/* Agencies setup top */
.top_agency {
    width: 100%;
    min-height: 80vh;
    background-image: url('../img/agency.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
    color: #fff;
}


/* Interests setup top */
.top_interests {
    width: 100%;
    min-height: 80vh;
    background-image: url('../img/interests.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
    color: #fff;
}

section {
    background-color: #338eca0e;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content {
    width: 900px;
    display: flex;
    align-items: center;
    vertical-align: initial;
    justify-content: center;
    box-shadow:0px 0px 15px #338eca36;

}

.img_resp {
    display: none;
}

.img {
    width: 50%;
    height: 300px;
}

.description {
    padding-top: 50px;
    width: 50%;
    min-height: 300px;
    color: #338dca;
    
}

.description h3 {
    font-size: 22px;
}

.description h4 {
    margin-bottom: 25px;
}

.description h5 {
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    text-align: left;
}

.description p {
    text-align: justify;
    padding: 10px;
    font-size: 15px;
}

.description .location {
    text-align: center;
    letter-spacing: 20px;
}

.description .fa-instagram {
    color: #338dca;
    font-size: 30px;
    transition: .5s ease ;
}

.description .fa-instagram:hover {
    color: #21608a;
}

.fa-globe-americas {
    color: #338dca;
    font-size: 30px;
    transition: .5s ease ;
}

.fa-globe-americas:hover {
    color: #21608a;
}

.fa-map-marked-alt {
    color: #338dca;
    font-size: 30px;
    transition: .5s ease ;
}

.fa-map-marked-alt:hover {
    color: #21608a;
}

/* Configurações de rodapé */

.rodape {
    display: flex;
    clear: both;
    background: linear-gradient(0deg, rgba(6,80,72,1) 0%, rgba(22,160,130,1) 47%, rgba(2,214,167,1) 92%);
    color: white;
    font-size: 12px;
    height: 60px;
    align-items: center;
    vertical-align: middle;
    justify-content:center;
}

.rights {
    padding-right: 400px;
}

.social_footer {
    font-size: 30px;
    letter-spacing: 10px;
    font-weight: 900;
}

.social_footer .fa-instagram {
    color: #fff;
}

i.fa-airbnb {
    color: #FF585D;
    font-weight: bolder;
}

@media only screen and (max-width: 1270px) {
    label {
        display: block;
        cursor: pointer;
    }

    .menu {
        text-align: center;
        width: 100%;
        display: none;
        background-color: rgba(255, 255, 255, 0.9);
    }

    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
    }

    #toggle:checked + .menu {
        display: block;
    }
}

@media only screen and (max-width: 900px) {
    .nav {
        height: 70;
        background-color: rgba(0, 0, 0, 0.356);
    }

    label {
        color: white;
    }
    .top_beach {
        width: 100%;
        min-height: 30vh;
        margin-top: -70px;
        z-index: -1;
    }

    .top_bars {
        width: 100%;
        min-height: 20vh;
        margin-top: -70px;
        z-index: -1;
    }

    .top_restaurants {
        width: 100%;
        min-height: 20vh;
        margin-top: -70px;
        z-index: -1;
    }

    .top_stores {
        width: 100%;
        min-height: 20vh;
        margin-top: -70px;
        z-index: -1;
    }

    .top_agency {
        width: 100%;
        min-height: 20vh;
        margin-top: -70px;
        z-index: -1;
    }

    .top_interests {
        width: 100%;
        min-height: 20vh;
        margin-top: -70px;
        z-index: -1;
    }

    .img {
        display: none;
    }

    .img_resp {
        display:block;
        max-width: 310px;
    }

    .description {
        border-color: #338dca;
        border-bottom-style: solid;
        width: 85%;
    }

    .rights {
        padding: 0;
    }

    .social_footer {
        display: none;
    }
}